<%= form_with(model: elemento) do |form| %>
  <% if elemento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(elemento.errors.count, "error") %> prohibited this elemento from being saved:</h2>

      <ul>
        <% elemento.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row mb-3">
    <%= form.label :componente %>
    <%= form.text_field :componente, placeholder:"Nome do Elemento"%>
  </div>

  <div class="field row mb-3">
    <%= form.label :estado %>
    <%= form.text_field :estado, placeholder:"Estado Físico a 25°C" %>
  </div>

  <div class="field row mb-3">
    <%= form.label :massa %>
    <%= form.text_field :massa, placeholder:"Massa Molar em g/mol" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

