

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Componente Químico</th>
      <th>Estado Físico (25°C)</th>
      <th>Massa Molar (g/mol)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @elementos.each do |elemento| %>
      <tr>
        <td><%= elemento.componente %></td>
        <td><%= elemento.estado %></td>
        <td><%= elemento.massa %></td>
        <td><%= link_to 'Show', elemento, class:"btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_elemento_path(elemento), class:"btn btn-primary" %></td>
        <td><%= link_to 'Destroy', elemento, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Cadastrar Novo Elemento', new_elemento_path, class:"btn btn-primary" %>

